*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(230, 230, 230);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
a{
    text-decoration: none;
  }
  .logo {
    color: #fc036b;
  }
  ul{
    list-style: none;
  }
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #fc036b;
  }
  .active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
  }
  body , html {
    overflow-x: hidden;
  }
  .nav-links{
    display: flex;
    align-items: center;
  }
  .nav-links li{
    margin: 0 30px;
  }
  .ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
  }
  .menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
  }
.rectangle {
    margin-top: 12%;
    width: 30%;
    height: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(10,102,194);
}
.blank {
    height: 20%;
}
div {
    margin-left: 35%;
    margin-right: 35%;
    background-color: white;
}
.white-portion {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
form {
    padding-top: 12%;
    margin-left: 20%;
    font-size: 18px;
    color: rgb(35, 0, 0);
}
a {
    text-decoration: none;
}
input {
    height: 4%;
    width: 60%;
}
.name {
    margin-left: 5%;
}
.mail {
    margin-left: 6%;
}
.donate {
    margin-top: 30px;
    margin-bottom: 15%;
    margin-left: 30%;
    background-color: rgb(10,102,194);
    border: none;
    color:white;
    height: 32px;
    width: 40%;
    font-size: 12px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    margin-right: 5px;
    transition:background-color 0.15s;
}
.donate:hover{
    background-color: rgb(11, 69, 126);
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0px;
    background-color: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
@media only screen and (max-width:850px){
    .menu-btn{
      display: block;
    }
    .navbar{
      padding: 0;
    }
    .logo{
      position: absolute;
      top: 30px;
      left: 30px;
    }
    .nav-links{
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      background: #484872;
      margin-top: -900px;
      transition: all 0.5s ease;
    }
    .mobile-menu{
       margin-top: 0px;
       border-bottom-right-radius: 30%;
    }
    .nav-links li{
      margin: 30px auto;
    }
    .footer{
      padding: 10px;
    }
  }
  .ctn:hover{
    background: whitesmoke;
    color: rgb(10,102,194);
    box-shadow: 2px 2px 5px #00000056;
  }
  li:hover{
    color: rgb(10,102,194);
    cursor: pointer;
  }