*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
    background-color: rgb(230, 230, 230);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.donate {
    margin-top: 30px;
    margin-bottom: 15%;
    margin-left: 40%;
    background-color: rgb(10,102,194);
    border: none;
    color:white;
    height: 32px;
    width: 20%;
    font-size: 12px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    margin-right: 5px;
    transition:background-color 0.15s;
}
.rectangle {
  margin-left: 34%;
  margin-top: 12%;
  width: 31%;
  height: 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(10,102,194);
}
div {
  margin-right: 35%;
  background-color: white;
}
.white-portion {
  margin-left: 34%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
form {
  padding-top: 1%;
  margin-left: 16%;
  font-size: 18px;
  color: rgb(35, 0, 0);
}
.donate:hover{
    background-color: rgb(11, 69, 126);
}
input {
  height: 4%;
  width: 60%;
}
.name {
  margin-left: 11%;
}
.mail {
  margin-left: 12%;
}
.name1 {
  margin-left: 6%;
}
.mail1 {
  margin-left: 3%;
}
.name2 {
  margin-left: 16%;
}
.mail2 {
  margin-left: 11%;
  margin-bottom: 8%;
}
.bill {
  font-size: 24px;
  margin-left: 13.5%;
  margin-bottom: 10px;
}
a {
    text-decoration: none;
}
.logo {
    color: #fc036b;
  }
  ul{
    list-style: none;
  }
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #fc036b;
  }
  .active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
  }
  body , html {
    overflow-x: hidden;
  }
  .nav-links{
    display: flex;
    align-items: center;
  }
  .nav-links li{
    margin: 0 30px;
  }
  .ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
  }
  .menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
  }
  .footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0px;
    background-color: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
  @media only screen and (max-width:850px){
    .menu-btn{
      display: block;
    }
    .navbar{
      padding: 0;
    }
    .logo{
      position: absolute;
      top: 30px;
      left: 30px;
    }
    .nav-links{
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      background: #484872;
      margin-top: -900px;
      transition: all 0.5s ease;
    }
    .mobile-menu{
       margin-top: 0px;
       border-bottom-right-radius: 30%;
    }
    .nav-links li{
      margin: 30px auto;
    }
    .footer{
      padding: 10px;
    }
}
.ctn:hover{
    background: whitesmoke;
    color: rgb(10,102,194);
    box-shadow: 2px 2px 5px #00000056;
}
li:hover{
    color: rgb(10,102,194);
    cursor: pointer;
}