body {
    background-color: rgb(230, 230, 230);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.rectangle {
    margin-top: 15%;
    width: 30%;
    height: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(10,102,194);
}

div {
    margin-left: 35%;
    margin-right: 35%;
    background-color: white;
    
}
form {
    padding-top: 12%;
    margin-left: 20%;
    font-size: 18px;
    color: rgb(35, 0, 0);
}

a {
    text-decoration: none;
}
input {
    height: 4%;
    width: 60%;
}
.name {
    margin-left: 5%;
}
.mail {
    margin-left: 6%;
}
.donate {
    margin-top: 30px;
    margin-bottom: 15%;
    margin-left: 30%;
    background-color: rgb(10,102,194);
    border: none;
    color:white;
    height: 32px;
    width: 40%;
    font-size: 12px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    margin-right: 5px;
    transition:background-color 0.15s;
}
.donate:hover{
    background-color: rgb(11, 69, 126);
  }